//
//  Microduino Core+ with ATmega644-5V.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on 04 Jan 2014
//  Copyright   (c) 2010-2019 https://embedXcode.weebly.com
//  Licence     All rights reserved
//
// Last update: 11 May 2015 release 2.8.8

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = 644pa16m

// For Arduino 1.5.x, if different from Arduino 1.0.x
//
BOARD_TAG1 = 644p
BOARD_TAG2 = 644p.menu.cpu.16MHzatmega644

// Port (optional)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbserial-*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __AVR_ATmega644P__ MICRODUINO

// Specify the full path and name of the application
// with /Contents/Java/** after
//
APPLICATIONS_PATH = /Applications
HEADER_SEARCH_PATHS = $(APPLICATIONS_PATH)/Microduino.app/Contents/Java/hardware/Microduino/avr/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
//
MAX_RAM_SIZE = 4096

CONFIG_NAME = Microduino Core+ ATmega644-5V
